<nav class="pagination-wrap" *ngIf="totalPages > 1">
  <ul class="pagination">
    <li [class.disabled]="currentPage <= 1">
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage <= 1">&laquo;</button>
    </li>
    <li *ngFor="let p of pages" [class.active]="p === currentPage">
      <button (click)="onPageChange(p)">{{ p }}</button>
    </li>
    <li [class.disabled]="currentPage >= totalPages">
      <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage >= totalPages">&raquo;</button>
    </li>
  </ul>
</nav>
