# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.swp

# Environnement
.env
.env.local

# Backend
backend/target/
backend/.mvn/
*.class
*.jar
hs_err_pid*

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

# Logs
*.log

# Tests
junit.xml
test-results/
